/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}
/* og látum erfast á allt */
*, *:before, *:after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

@font-face {
  font-family: 'mittfont';
  src: url(/fonts/Lord-Regular.ttf);
}
@font-face {
  font-family: 'mittfont1';
  src: url(/fonts/Lora-Bold.ttf);
}


header {
  font-family: 'mittfont1';
  width: 100%;
  background-color: #2f0505;
  color: #ffe7ae;
  text-align: center;
  border-bottom: 8px solid #ffe7ae;
}

.nav-container {
  background-color: #fff9ee;
  padding: 10px; 
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

/* Styling for each menu item */
nav ul li {
  font-family: mittfont1;
  margin: 0 15px;  /* Adjust this to control the spacing between menu items */
}

/* Styling for the menu links */
nav ul li a {
  text-decoration: none;
  color: inherit;
}

.date-list > p, .opnun > p{
  font-family: mittfont1;
}

.date-list > li{
 font-family: mittfont;
}

.main {
  min-height: 300px;
  max-width: 900px;
  margin-left: 300px;
}

.main-container{
  border-bottom: 4px solid #ffe7ae;
}

.main-container .opnunartimi,
.main-container .um,
.main-container .matsedill,
.main-container .panta {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 35px;
}

.main-container .opnunartimi ul {
  list-style-type: none;
}

.main-container .opnunartimi {
  float: left;
  clear: left;
}

.main-container .um {
  float: right;
  clear: right;
}

.main-container .matsedill {
  float: left;
  clear: left;
}

.main-container .panta {
  float: right;
  clear: right;
  margin-right: 180px;
}

.main-container a {
  font-weight: bold;
  text-decoration: underline;
}

.main-container::after {
  content: '';
  display: block;
  clear: both;
}
  
.main .vinsaelir-rettir{
  margin-top: 20px;
  line-height: 45px;
}

.main .vinsaelir-rettir a{
  font-weight: bold;
  text-decoration: underline;
}

.vinsaelir-rettir {
  border-bottom: 4px solid #ffe7ae;
}

.vinsaelir-rettir .lasagna,
.vinsaelir-rettir .pizza,
.vinsaelir-rettir .hamborgari,
.vinsaelir-rettir .quesadilla {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 35px;
}

.vinsaelir-rettir .lasagna{
  float: left;
  clear: left;
}

.vinsaelir-rettir .pizza{
  float: right;
  clear: right;
}

.vinsaelir-rettir .hamborgari{
  float: left;
  clear: left;
}

.vinsaelir-rettir .quesadilla{
  float: right;
  clear: right;
}

.vinsaelir-rettir::after {
  content: '';
  display: block;
  clear: both;
}

.skoda{
  margin-top: 40px;
  margin-bottom: 40px;
}

.skoda a{
  font-weight: bold;
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #2f0505;
  color: #ffe7ae;
  text-align: center;
  content:center;
  border-top: 8px solid #ffe7ae;
}

.footer-content {
  text-align: center; /* Centers inline and inline-block children */
}

.footer-content .opnun,
.footer-content .hererumvid {
  display: inline-block; /* Puts them side by side */
  vertical-align: top; /* Aligns them to the top */
  margin: 0 20px; /* Adds some horizontal spacing between them */
  box-sizing: border-box;
  width: calc(50% - 40px); /* Take into account the margin */
}

/* Additional styling to remove list bullets and add some space between list items */
.footer-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-content ul li,
.footer-content ul p {
  margin-bottom: 10px;
}


/* almennar skilgreiningar */

h1, h2 {
  /* TODO setja almennar skilgreinar fyrir fyrirsagnir */
  font-family: 'mittfont1';
}


a {
  text-decoration: none;
  color:black;
}

/* nav — valmynd */

nav ul li {
  /* TODO */
  display: inline-block;
  margin-left: 30px;
}

.footer-content {
  display: center;
  justify-content: space-between;
}

.hererumvid > ul{
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.opnun > ul{
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.hererumvid:last-child {
  margin-right: 0;
}

table {
  border-spacing: 0;
}

