/*
Setjum inn „reset“ sem fjarlægir margin og padding af öllu
Þessu má ekki breyta
*/
* {
  margin: 0;
  padding: 0;
}

/*
Reiknum stærð á öllum boxum sem border-box.
Þessu má breyta eða fjarlægja.
*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

/* og látum erfast á allt */
*, *:before, *:after {
  box-sizing: inherit;
}
@font-face {
  font-family: 'mittfont';
  src: url(/fonts/Lord-Regular.ttf);
}
@font-face {
  font-family: 'mittfont1';
  src: url(/fonts/Lora-Bold.ttf);
}


/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}


/* Uppsetning á síðu—layout */
.efni {
  /* Lætur börn .content raða sér með _flexbox_ */
  display: flex;
  /* röðun sé í dálkaröð (niður) */
  flex-direction: column;
}

.efni img{
  float: left;
}

.efni button{
  background-color: #afebff;
}

header {
  font-family: 'mittfont1';
  background-color: #2f0505;
  height: 60px;
  text-align: center;
  color: #ffe7ae;
  width: 100vw;
  border-bottom: 8px solid #ffe7ae;
  line-height: 1;
  box-sizing: border-box;
}

/* Styling for the navigation container */
.nav-container {
  background-color: #fff9ee;
  padding: 10px;  /* Adjust this to control the padding around the navigation menu */
}

/* Styling for the navigation menu */
nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

/* Styling for each menu item */
nav ul li {
  font-family: mittfont1;
  margin: 0 15px;  /* Adjust this to control the spacing between menu items */
}

/* Styling for the menu links */
nav ul li a {
  text-decoration: none;
  color: inherit;
}


.content > main {
  /* Lætur <main> taka allt auka pláss sem er í boði */
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  position: static;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #afebff;
}

footer {
  background-color: #2f0505;
  position:absolute;
  width: 100%;
  font-family: 'mittfont';
  color: #ffe7ae;
  content: center;
  display: flex;
  flex-wrap: wrap; /* Ef ekki er nóg pláss, fer næsta box á næsta línu */
  gap: 20px;
  justify-content: center;
  align-items: center;
  overflow: auto; 
}

/* almennar skilgreiningar */

h1, h2 {
  /* TODO setja almennar skilgreinar fyrir fyrirsagnir */
  font-family: 'mittfont1';
}

a {
  text-decoration: none;
  color:black;
}

/* nav — valmynd */

nav ul li {
  /* TODO */
  display: inline-block;
  margin-left: 30px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.hererumvid {
  list-style: none;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.opnun {
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.hererumvid:last-child {
  margin-right: 0;
}

/* TODO */


/* main — meginmál */

/* TODO */

/* töflur */

table {
  border-spacing: 0;
}

/* TODO */

/* form */

/* TODO */
